<div class="hero-section">
    <div class="layer">
        <app-nav-bar></app-nav-bar>
        <div class="hero-main-setter">
            <div class="hero-internal-text">
                <p class="text-white text-center display-6 hero-small-text-left">Your Trusted</p>
                <p class="fw-bold text-white hero-property-word text-center">PROPERTY</p>
            </div>
            <div class="hero-consultant-div">
            <p class="text-white text-center display-6 hero-small-text-right">Partner & Consulatant!</p>
        </div>
        </div>
    </div>
    
</div>
<app-hero-text-block></app-hero-text-block>