.hero-block-setter
{
    height :60vh;
    padding-top: 7rem;
}
.hero-custom-line-spacing {
    line-height: 1.25; /* Adjust the value as needed */
}
.image-setter
{
    width: 192%;
    margin-left: -13em;
    transform: scaleX(-1);
}
.diagonal-left {
    width: 1rem;
    height: 2rem;
    background-color: #747474;
    transform: skewX(30deg);
    transform-origin: top;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .diagonal {
    width: 20rem;
    transform: skewX(30deg);
    background-color: rgb(29 41 63) !important;
    transform-origin: top;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .diagonal>span {
    transform: skewX(-30deg);
    color: white;
  }