<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <p class="h2 fw-bold text-center hero-block-setter">Discover Your Dream Home:
                <small class="text-muted">Where Luxury Meets Comfort</small>
                <span class="fs-6 fw-normal d-block hero-custom-line-spacing mt-1 w-75 mx-auto">Unveil a lifestyle of
                    sophistication and ease with our exclusive properties. Each home is a masterful blend of modern
                    design and timeless charm, crafted to offer you the ultimate living experience. From spacious,
                    light-filled rooms to exquisite finishes and state-of-the-art amenities, our properties provide the
                    perfect backdrop for making lasting memories. Explore our collection and find a home where every
                    detail reflects your aspirations and desires. <strong>Your dream home awaits!</strong></span>
            </p>
        </div>
        <div class="col-2">
            <div class="text-center">
                <img src="assets/images/hero-house.png"  alt="House Imae Real Estate">
            </div>
        </div>
    </div>
</div>